Changing from regression to classification:

- change last activation to Sigmoid to get a value between 0 and 1
- use as many output nodes as you have choices (2 choices = 2 nodes)
- use CrossEntropyLoss to better measure error for classification

We are using "logistic regression" for classification tasks because the logistic function (aka, sigmoid) looks like a sideways "S" and ranges between 0 and 1. It essentially produces a "percent likelihood" that the data is in class A or B, etc.

In [ ]:
import torch
import pandas as pd
import matplotlib.pyplot as plt
import random
import sklearn.metrics

In [2]:
adultdf = pd.read_csv("/home/jeckroth/csci431-public/datasets/uci/adult/adult.data", header=None)
adultdf.columns = ["age", "workclass", "fnlwgt", "education", "educationNum",
                  "maritalStatus", "occupation", "relationship", "race",
                  "sex", "capitalGain", "capitalLoss", "hoursPerWeek",
                  "nativeCountry", "income"]
adultdf

,age,workclass,fnlwgt,education,educationNum,maritalStatus,occupation,relationship,race,sex,capitalGain,capitalLoss,hoursPerWeek,nativeCountry,income
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32556,27,Private,257302,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,<=50K
32557,40,Private,154374,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K
32558,58,Private,151910,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K
32559,22,Private,201490,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,<=50K
32560,52,Self-emp-inc,287927,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,>50K

Need to turn some of these categorical columns into "one-hot" columns, such as workclass: Private = {0,0,0}, Self-emp-not-inc = {0,1,0}, etc. This way, the neural net does not see labels like Private = 1, Self-emp-not-inc = 2, etc. which may lead it to believe Private is "close to" Self-emp-not-inc, etc.

In [3]:
# example of pandas' get_dummies on a single column:
pd.get_dummies(adultdf[["workclass"]], prefix=["workclass"], columns=["workclass"])

,workclass_ ?,workclass_ Federal-gov,workclass_ Local-gov,workclass_ Never-worked,workclass_ Private,workclass_ Self-emp-inc,workclass_ Self-emp-not-inc,workclass_ State-gov,workclass_ Without-pay
0,0,0,0,0,0,0,0,1,0
1,0,0,0,0,0,0,1,0,0
2,0,0,0,0,1,0,0,0,0
3,0,0,0,0,1,0,0,0,0
4,0,0,0,0,1,0,0,0,0
...,...,...,...,...,...,...,...,...,...
32556,0,0,0,0,1,0,0,0,0
32557,0,0,0,0,1,0,0,0,0
32558,0,0,0,0,1,0,0,0,0
32559,0,0,0,0,1,0,0,0,0
32560,0,0,0,0,0,1,0,0,0

In [4]:
onehot_columns = ["relationship"]
x = pd.get_dummies(adultdf[onehot_columns],
                    prefix=onehot_columns,
                    columns=onehot_columns)
x

,relationship_ Husband,relationship_ Not-in-family,relationship_ Other-relative,relationship_ Own-child,relationship_ Unmarried,relationship_ Wife
0,0,1,0,0,0,0
1,1,0,0,0,0,0
2,0,1,0,0,0,0
3,1,0,0,0,0,0
4,0,0,0,0,0,1
...,...,...,...,...,...,...
32556,0,0,0,0,0,1
32557,1,0,0,0,0,0
32558,0,0,0,0,1,0
32559,0,0,0,1,0,0
32560,0,0,0,0,0,1

Because we are doing classification, we will use CrossEntropyLoss for our criterion function. The documentation shows that the "input" (the last layer of the network) should have 2 neurons because we have two classes (<=50K, >50K) for our target. The docs also show we need to make our y target values a single number that is 0 or 1 (since we have two classes). We do not use "onehot" encoding on these y values.

In [5]:
y = pd.Series([x == ' <=50K' for x in list(adultdf["income"])])
y

0         True
1         True
2         True
3         True
4         True
         ...
32556     True
32557    False
32558     True
32559     True
32560    False
Length: 32561, dtype: bool

**NOTE!!!**

There are only 24% of one class, so our model has to at least get less error than this! It can simply learn to always say "1" or whatever, ignoring the input data, and still be wrong only 24% of the time!

In [6]:
y_true = len(list(filter(lambda x: x, y)))
y_false = len(list(filter(lambda x: not x, y)))
print(y_true, y_false, 1-float(y_true)/float(y_true+y_false))

24720 7841 0.2408095574460244

In [7]:
indexes = pd.Series(y.sample(frac=1.0, random_state=0).index)
train_idxs = indexes.iloc[range(0, int(len(indexes)*0.6))]
val_idxs = indexes.iloc[range(int(len(indexes)*0.6), int(len(indexes)*0.8))]
test_idxs = indexes.iloc[range(int(len(indexes)*0.8), len(indexes))]
train_x = x.iloc[train_idxs]
val_x = x.iloc[val_idxs]
test_x = x.iloc[test_idxs]
train_y = y.iloc[train_idxs]
val_y = y.iloc[val_idxs]
test_y = y.iloc[test_idxs]
train_y

22278     True
8950      True
7838      True
16505     True
19140    False
         ...
14525     True
26826    False
18552     True
17957    False
27290    False
Length: 19536, dtype: bool

In [8]:
model = torch.nn.Sequential(
    torch.nn.Linear(train_x.shape[1], 100), # compute number of columns from shape
    torch.nn.ReLU(),
    torch.nn.Dropout(p=0.5), # 50% of weights will not be trained each epoch
    torch.nn.Linear(100, 2),
    torch.nn.Sigmoid()
)
model.cuda()

Sequential(
  (0): Linear(in_features=6, out_features=100, bias=True)
  (1): ReLU()
  (2): Dropout(p=0.5, inplace=False)
  (3): Linear(in_features=100, out_features=2, bias=True)
  (4): Sigmoid()
)

In [9]:
criterion = torch.nn.CrossEntropyLoss()
optimizer = torch.optim.SGD(model.parameters(), lr=0.01)

In [10]:
train_x_gpu = torch.tensor(train_x.to_numpy()).float().cuda()
val_x_gpu = torch.tensor(val_x.to_numpy()).float().cuda()
train_y_gpu = torch.tensor(train_y.to_numpy()).long().cuda()
val_y_gpu = torch.tensor(val_y.to_numpy()).long().cuda()
train_x_gpu

tensor([[0., 0., 0., 0., 1., 0.],
        [0., 1., 0., 0., 0., 0.],
        [1., 0., 0., 0., 0., 0.],
        ...,
        [0., 0., 0., 1., 0., 0.],
        [1., 0., 0., 0., 0., 0.],
        [1., 0., 0., 0., 0., 0.]], device='cuda:0')

In [11]:
for epoch in range(100):
    optimizer.zero_grad()
    train_pred = model(train_x_gpu)
    train_loss = criterion(train_pred, train_y_gpu)
    val_pred = model(val_x_gpu)
    val_loss = criterion(val_pred, val_y_gpu)
    
    # compute % accuracy (actually, error)
    # first, convert the two outputs into a single prediction
    train_pred_label = [0 if pred[0] > pred[1] else 1 for pred in train_pred.cpu().detach().tolist()]
    val_pred_label = [0 if pred[0] > pred[1] else 1 for pred in val_pred.cpu().detach().tolist()]
    train_error = 1.0 - sklearn.metrics.accuracy_score(train_y_gpu.cpu().tolist(), train_pred_label)
    val_error = 1.0 - sklearn.metrics.accuracy_score(val_y_gpu.cpu().tolist(), val_pred_label)
    print(train_loss.item(), val_loss.item(), train_error, val_error)
    train_loss.backward()
    optimizer.step()

0.7003028988838196 0.6999354958534241 0.623413185913186 0.6101044226044225
0.6997714042663574 0.7001855373382568 0.6121519246519247 0.6194717444717445
0.6995231509208679 0.69940185546875 0.607545045045045 0.6067260442260443
0.6989419460296631 0.6991714835166931 0.5998669123669124 0.6030405405405406
0.6982547640800476 0.6979097127914429 0.5875307125307125 0.578931203931204
0.6981114745140076 0.6978065967559814 0.5807739557739557 0.577088452088452
0.6972410082817078 0.6980265378952026 0.5656224406224406 0.5793918918918919
0.6971713304519653 0.6970458030700684 0.5664414414414414 0.5718673218673218
0.6968867182731628 0.6964974999427795 0.5625 0.5571253071253071
0.6962475776672363 0.6964007019996643 0.5534398034398034 0.5528255528255528
0.6956932544708252 0.6957958936691284 0.5377764127764127 0.5426904176904177
0.6955249905586243 0.6951910257339478 0.5341932841932842 0.5304054054054055
0.695032000541687 0.694703221321106 0.524416461916462 0.527487714987715
0.6945065259933472 0.6939409971237183 0.519963144963145 0.5102886977886978
0.6941291093826294 0.6939874291419983 0.5100327600327601 0.5032248157248157
0.6936348080635071 0.6937801837921143 0.5004095004095004 0.5058353808353808
0.6931120157241821 0.6931698322296143 0.48843161343161345 0.49508599508599505
0.6927011013031006 0.6927922964096069 0.48536036036036034 0.4898648648648649
0.692228376865387 0.6920439004898071 0.471027846027846 0.47143734643734647
0.6918601393699646 0.6922225952148438 0.46877559377559375 0.4775798525798526
0.6915033459663391 0.6913051605224609 0.45951064701064703 0.460534398034398
0.690994143486023 0.6912891864776611 0.4478910728910729 0.45239557739557734
0.6903546452522278 0.6903855204582214 0.4346334971334971 0.43565724815724816
0.6900185346603394 0.6898952126502991 0.4309479934479934 0.43181818181818177
0.6896570324897766 0.6892083883285522 0.42649467649467654 0.41615479115479115
0.689475417137146 0.6892728805541992 0.4239352989352989 0.42245085995085996
0.6887937784194946 0.6887778639793396 0.4078624078624079 0.4169226044226044
0.688532829284668 0.6881811618804932 0.4084766584766585 0.398034398034398
0.6878567934036255 0.6875694394111633 0.39619164619164615 0.38974201474201475
0.6874149441719055 0.6877270340919495 0.3843673218673219 0.3986486486486487
0.6872262954711914 0.6871349811553955 0.3789414414414415 0.375460687960688
0.6867982149124146 0.6866661906242371 0.37709868959868964 0.37315724815724816
0.6865501999855042 0.6860376596450806 0.3709049959049959 0.36378992628992624
0.6857573986053467 0.6857168078422546 0.3578009828009828 0.3616400491400491
0.6856415271759033 0.6851556301116943 0.3550880425880426 0.355497542997543
0.6851667761802673 0.6854437589645386 0.35416666666666663 0.3525798525798526
0.6847779750823975 0.6845932602882385 0.34669328419328416 0.3427518427518428
0.6842361092567444 0.6840906739234924 0.3398341523341524 0.3358415233415234
0.6838318705558777 0.6837721467018127 0.3359438984438985 0.33768427518427513
0.6834055185317993 0.6834015250205994 0.3288800163800164 0.3349201474201474
0.6828705668449402 0.6828321814537048 0.3218673218673219 0.3226351351351351
0.6826378703117371 0.6823896169662476 0.32396601146601145 0.3226351351351351
0.6826227307319641 0.682174563407898 0.32084357084357085 0.31756756756756754
0.6817620992660522 0.6818864941596985 0.3125 0.3125
0.6816558241844177 0.681463360786438 0.3086609336609336 0.3123464373464373
0.6811903119087219 0.6805323958396912 0.3052825552825553 0.2959152334152334
0.6805967688560486 0.6803842782974243 0.2998566748566749 0.29806511056511054
0.6804110407829285 0.6803891062736511 0.2987817362817363 0.2966830466830467
0.6801333427429199 0.6800543069839478 0.2994471744471745 0.2983722358722358
0.6793725490570068 0.6793967485427856 0.29069410319410316 0.29054054054054057
0.6791080832481384 0.6792749762535095 0.28782760032760035 0.2922297297297297
0.6785642504692078 0.6782404184341431 0.2832719082719083 0.28163390663390664
0.6782422065734863 0.678223729133606 0.28127559377559375 0.28148034398034394
0.6781519651412964 0.6773896813392639 0.28485872235872234 0.2757985257985258
0.6779263019561768 0.6775413155555725 0.2791257166257166 0.2765663390663391
0.6771430969238281 0.6772792339324951 0.27390458640458637 0.27748771498771496
0.6767587065696716 0.6767120957374573 0.2769758394758395 0.2707309582309583
0.676530659198761 0.6759871244430542 0.2731367731367731 0.26873464373464373
0.6757962703704834 0.6758536100387573 0.27078214578214577 0.27165233415233414
0.6757367253303528 0.6757112741470337 0.2664823914823915 0.2673525798525799
0.6753385663032532 0.6751101016998291 0.2694000819000819 0.2671990171990172
0.6749829649925232 0.6750717759132385 0.2661752661752662 0.2661240786240786
0.6744554042816162 0.6739886403083801 0.2663288288288288 0.26151719901719905
0.674138069152832 0.6737696528434753 0.2633087633087633 0.2596744471744472
0.6738238334655762 0.6733319759368896 0.2605958230958231 0.2599815724815725
0.6737040281295776 0.6731340289115906 0.2605958230958231 0.25890663390663393
0.6731789708137512 0.6729811429977417 0.2568079443079443 0.25813882063882065
0.6725797057151794 0.6730180382728577 0.25865069615069614 0.25568181818181823
0.6724693775177002 0.671917200088501 0.2561425061425061 0.25230343980343983
0.6719338893890381 0.6717615723609924 0.255579443079443 0.25537469287469283
0.6716969609260559 0.6714625954627991 0.25537469287469283 0.25506756756756754
0.6712827086448669 0.6705529093742371 0.2541461916461917 0.25122850122850127
0.6709930300712585 0.6709859371185303 0.2536343161343161 0.249539312039312
0.670522153377533 0.6704770922660828 0.25148443898443895 0.2461609336609336
0.6699936985969543 0.6701515913009644 0.2507678132678133 0.24785012285012287
0.6698907613754272 0.6695206761360168 0.25158681408681405 0.2469287469287469
0.6693824529647827 0.669444739818573 0.25179156429156424 0.24923218673218672
0.6693482398986816 0.6685680150985718 0.24938574938574942 0.24831081081081086
0.668467104434967 0.6687940955162048 0.2499488124488124 0.246468058968059
0.6682249307632446 0.6684798002243042 0.249539312039312 0.24554668304668303
0.6679248213768005 0.6681115627288818 0.24943693693693691 0.24769656019656017
0.6675534248352051 0.6674525737762451 0.24815724815724816 0.246468058968059
0.6673638224601746 0.6675711870193481 0.24841318591318595 0.24585380835380832
0.6669462323188782 0.6664808988571167 0.24820843570843576 0.24431818181818177
0.6667293310165405 0.6665830612182617 0.24713349713349708 0.2437039312039312
0.6661263704299927 0.6661681532859802 0.2469287469287469 0.2432432432432432
0.6659530401229858 0.6659993529319763 0.24595618345618342 0.24401105651105648
0.6654196977615356 0.6655117273330688 0.24610974610974612 0.24401105651105648
0.6652300953865051 0.6646231412887573 0.246468058968059 0.2437039312039312
0.6649561524391174 0.6648397445678711 0.24570024570024573 0.2437039312039312
0.6643445491790771 0.6642841696739197 0.24539312039312045 0.2433968058968059
0.6642434597015381 0.6638015508651733 0.24600737100737102 0.24170761670761676
0.6638089418411255 0.6637470722198486 0.24570024570024573 0.2437039312039312
0.6631345748901367 0.6633387207984924 0.24508599508599505 0.24186117936117935
0.663196325302124 0.6629932522773743 0.24523955773955775 0.24109336609336607
0.6630077958106995 0.6626144647598267 0.24518837018837014 0.24124692874692877
0.6627756357192993 0.6619797348976135 0.24610974610974612 0.24155405405405406
0.6622788906097412 0.6622075438499451 0.24493243243243246 0.24201474201474205
0.6618694067001343 0.6616770029067993 0.24452293202293207 0.24140049140049136
0.66126948595047 0.6612199544906616 0.24411343161343158 0.24247542997542992