<a href="https://colab.research.google.com/github/antoh/DataScience/blob/main/LogisticRegression.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Changing from regression to classification:

- change last activation to Sigmoid to get a value between 0 and 1
- use as many output nodes as you have choices (2 choices = 2 nodes)
- use CrossEntropyLoss to better measure error for classification

We are using "logistic regression" for classification tasks because the logistic function (aka, sigmoid) looks like a sideways "S" and ranges between 0 and 1. It essentially produces a "percent likelihood" that the data is in class A or B, etc.

In [2]:
import torch
import pandas as pd
import matplotlib.pyplot as plt
import random
import sklearn.metrics

In [3]:
adultdf = pd.read_csv("/content/drive/MyDrive/DataScience/LogisticRegression/adult.data", header=None)
adultdf.columns = ["age", "workclass", "fnlwgt", "education", "educationNum",
                  "maritalStatus", "occupation", "relationship", "race",
                  "sex", "capitalGain", "capitalLoss", "hoursPerWeek",
                  "nativeCountry", "income"]
adultdf

       age          workclass  fnlwgt  ... hoursPerWeek   nativeCountry  income
0       39          State-gov   77516  ...           40   United-States   <=50K
1       50   Self-emp-not-inc   83311  ...           13   United-States   <=50K
2       38            Private  215646  ...           40   United-States   <=50K
3       53            Private  234721  ...           40   United-States   <=50K
4       28            Private  338409  ...           40            Cuba   <=50K
...    ...                ...     ...  ...          ...             ...     ...
32556   27            Private  257302  ...           38   United-States   <=50K
32557   40            Private  154374  ...           40   United-States    >50K
32558   58            Private  151910  ...           40   United-States   <=50K
32559   22            Private  201490  ...           20   United-States   <=50K
32560   52       Self-emp-inc  287927  ...           40   United-States    >50K

[32561 rows x 15 columns]

Need to turn some of these categorical columns into "one-hot" columns, such as workclass: Private = {0,0,0}, Self-emp-not-inc = {0,1,0}, etc. This way, the neural net does not see labels like Private = 1, Self-emp-not-inc = 2, etc. which may lead it to believe Private is "close to" Self-emp-not-inc, etc.

In [4]:
# example of pandas' get_dummies on a single column:
pd.get_dummies(adultdf[["workclass"]], prefix=["workclass"], columns=["workclass"])

       workclass_ ?  ...  workclass_ Without-pay
0                 0  ...                       0
1                 0  ...                       0
2                 0  ...                       0
3                 0  ...                       0
4                 0  ...                       0
...             ...  ...                     ...
32556             0  ...                       0
32557             0  ...                       0
32558             0  ...                       0
32559             0  ...                       0
32560             0  ...                       0

[32561 rows x 9 columns]

In [5]:
onehot_columns = ["relationship"]
x = pd.get_dummies(adultdf[onehot_columns],
                    prefix=onehot_columns,
                    columns=onehot_columns)
x

       relationship_ Husband  ...  relationship_ Wife
0                          0  ...                   0
1                          1  ...                   0
2                          0  ...                   0
3                          1  ...                   0
4                          0  ...                   1
...                      ...  ...                 ...
32556                      0  ...                   1
32557                      1  ...                   0
32558                      0  ...                   0
32559                      0  ...                   0
32560                      0  ...                   1

[32561 rows x 6 columns]

Because we are doing classification, we will use CrossEntropyLoss for our criterion function. The documentation shows that the "input" (the last layer of the network) should have 2 neurons because we have two classes (<=50K, >50K) for our target. The docs also show we need to make our y target values a single number that is 0 or 1 (since we have two classes). We do not use "onehot" encoding on these y values.

In [6]:
y = pd.Series([x == ' <=50K' for x in list(adultdf["income"])])
y

0         True
1         True
2         True
3         True
4         True
         ...
32556     True
32557    False
32558     True
32559     True
32560    False
Length: 32561, dtype: bool

**NOTE!!!**

There are only 24% of one class, so our model has to at least get less error than this! It can simply learn to always say "1" or whatever, ignoring the input data, and still be wrong only 24% of the time!

In [7]:
y_true = len(list(filter(lambda x: x, y)))
y_false = len(list(filter(lambda x: not x, y)))
print(y_true, y_false, 1-float(y_true)/float(y_true+y_false))

24720 7841 0.2408095574460244

In [8]:
indexes = pd.Series(y.sample(frac=1.0, random_state=0).index)
train_idxs = indexes.iloc[range(0, int(len(indexes)*0.6))]
val_idxs = indexes.iloc[range(int(len(indexes)*0.6), int(len(indexes)*0.8))]
test_idxs = indexes.iloc[range(int(len(indexes)*0.8), len(indexes))]
train_x = x.iloc[train_idxs]
val_x = x.iloc[val_idxs]
test_x = x.iloc[test_idxs]
train_y = y.iloc[train_idxs]
val_y = y.iloc[val_idxs]
test_y = y.iloc[test_idxs]
train_y

22278     True
8950      True
7838      True
16505     True
19140    False
         ...
14525     True
26826    False
18552     True
17957    False
27290    False
Length: 19536, dtype: bool

In [9]:
model = torch.nn.Sequential(
    torch.nn.Linear(train_x.shape[1], 100), # compute number of columns from shape
    torch.nn.ReLU(),
    torch.nn.Dropout(p=0.5), # 50% of weights will not be trained each epoch
    torch.nn.Linear(100, 2),
    torch.nn.Sigmoid()
)
model.cuda()

Sequential(
  (0): Linear(in_features=6, out_features=100, bias=True)
  (1): ReLU()
  (2): Dropout(p=0.5, inplace=False)
  (3): Linear(in_features=100, out_features=2, bias=True)
  (4): Sigmoid()
)

In [10]:
criterion = torch.nn.CrossEntropyLoss()
optimizer = torch.optim.SGD(model.parameters(), lr=0.01)

In [11]:
train_x_gpu = torch.tensor(train_x.to_numpy()).float().cuda()
val_x_gpu = torch.tensor(val_x.to_numpy()).float().cuda()
train_y_gpu = torch.tensor(train_y.to_numpy()).long().cuda()
val_y_gpu = torch.tensor(val_y.to_numpy()).long().cuda()
train_x_gpu

tensor([[0., 0., 0., 0., 1., 0.],
        [0., 1., 0., 0., 0., 0.],
        [1., 0., 0., 0., 0., 0.],
        ...,
        [0., 0., 0., 1., 0., 0.],
        [1., 0., 0., 0., 0., 0.],
        [1., 0., 0., 0., 0., 0.]], device='cuda:0')

In [12]:
for epoch in range(100):
    optimizer.zero_grad()
    train_pred = model(train_x_gpu)
    train_loss = criterion(train_pred, train_y_gpu)
    val_pred = model(val_x_gpu)
    val_loss = criterion(val_pred, val_y_gpu)
    
    # compute % accuracy (actually, error)
    # first, convert the two outputs into a single prediction
    train_pred_label = [0 if pred[0] > pred[1] else 1 for pred in train_pred.cpu().detach().tolist()]
    val_pred_label = [0 if pred[0] > pred[1] else 1 for pred in val_pred.cpu().detach().tolist()]
    train_error = 1.0 - sklearn.metrics.accuracy_score(train_y_gpu.cpu().tolist(), train_pred_label)
    val_error = 1.0 - sklearn.metrics.accuracy_score(val_y_gpu.cpu().tolist(), val_pred_label)
    print(train_loss.item(), val_loss.item(), train_error, val_error)
    train_loss.backward()
    optimizer.step()

0.6983808279037476 0.6978382468223572 0.5700757575757576 0.5703316953316953
0.6981967687606812 0.6976204514503479 0.5681818181818181 0.5612714987714988
0.6972208023071289 0.697152853012085 0.5570741195741196 0.5578931203931203
0.6969624757766724 0.696898877620697 0.5545659295659295 0.5543611793611793
0.6965380907058716 0.6957377195358276 0.5527231777231778 0.5419226044226044
0.6962052583694458 0.6954973936080933 0.546990171990172 0.5336302211302211
0.6956281065940857 0.6955417990684509 0.5405917280917281 0.5290233415233415
0.6951631307601929 0.6949793100357056 0.5340909090909092 0.5313267813267813
0.6945670247077942 0.6943801641464233 0.5256449631449631 0.5187346437346437
0.6943113207817078 0.6935708522796631 0.5261568386568387 0.5076781326781327
0.6937029957771301 0.6941842436790466 0.5099303849303849 0.5216523341523341
0.6936092972755432 0.6933209300041199 0.5148443898443898 0.5042997542997543
0.6929850578308105 0.6929388046264648 0.5032248157248157 0.4993857493857494
0.6927643418312073 0.6928085684776306 0.5023034398034398 0.5030712530712531
0.6921638250350952 0.6919564604759216 0.4937551187551188 0.4933968058968059
0.6918693780899048 0.6916086077690125 0.4903255528255528 0.48234029484029484
0.6913472414016724 0.6911991238594055 0.48157248157248156 0.48234029484029484
0.6911523342132568 0.6910903453826904 0.4810606060606061 0.47850122850122845
0.690227746963501 0.6902696490287781 0.4697481572481572 0.4734336609336609
0.6900686025619507 0.6896246075630188 0.4702088452088452 0.45838452088452086
0.6895979642868042 0.6888144016265869 0.4578214578214578 0.4447174447174447
0.6893683671951294 0.6888871788978577 0.4582309582309583 0.4502457002457002
0.6887328028678894 0.6886731386184692 0.44579238329238324 0.4479422604422605
0.6883580684661865 0.6875749826431274 0.4443079443079443 0.4272113022113022
0.6881126165390015 0.6877373456954956 0.4380118755118755 0.4279791154791155
0.6876469850540161 0.687166154384613 0.43212530712530717 0.4275184275184275
0.6869165301322937 0.6873986721038818 0.4245495495495496 0.42567567567567566
0.6865019798278809 0.6865718960762024 0.411496723996724 0.41216216216216217
0.6864151358604431 0.685881495475769 0.4115479115479116 0.4077088452088452
0.6860782504081726 0.68547123670578 0.40591728091728096 0.4021805896805897
0.6856139898300171 0.6851328015327454 0.4044328419328419 0.3857493857493858
0.6850690841674805 0.6848549246788025 0.39567977067977067 0.394041769041769
0.6847702264785767 0.684607744216919 0.3983415233415234 0.3988022113022113
0.6843966841697693 0.6837660670280457 0.3849303849303849 0.3855958230958231
0.6839399337768555 0.6837242841720581 0.3785831285831286 0.37699631449631454
0.683664083480835 0.6833789348602295 0.3810913185913186 0.36716830466830463
0.6829771399497986 0.6820870637893677 0.3686527436527437 0.359029484029484
0.682546854019165 0.6823917627334595 0.36716830466830463 0.36624692874692877
0.6821293830871582 0.6816348433494568 0.36036036036036034 0.3545761670761671
0.6822220087051392 0.6814719438552856 0.3653767403767404 0.35334766584766586
0.6810980439186096 0.6804962754249573 0.3451064701064701 0.34398034398034394
0.6811413168907166 0.6806206703186035 0.3518120393120393 0.34659090909090906
0.6807377934455872 0.6810364723205566 0.34075552825552824 0.3527334152334153
0.6803658604621887 0.6801593899726868 0.3383497133497133 0.3386056511056511
0.6803640723228455 0.6793555617332458 0.334971334971335 0.32708845208845205
0.6798551082611084 0.679088294506073 0.3356879606879607 0.3226351351351351
0.6791769862174988 0.6784762740135193 0.3265253890253891 0.31772113022113024
0.6789817214012146 0.6787917613983154 0.32360769860769856 0.32109950859950864
0.6783007383346558 0.6775972247123718 0.31736281736281735 0.312039312039312
0.6777828335762024 0.6776968836784363 0.31040131040131036 0.316492628992629
0.6776847243309021 0.6773571372032166 0.31029893529893526 0.3121928746928747
0.6769710183143616 0.6764857769012451 0.3065110565110565 0.30405405405405406
0.6768162250518799 0.6760265827178955 0.30400286650286645 0.2983722358722358
0.6765608191490173 0.6761980056762695 0.3032862407862408 0.29806511056511054
0.6761555075645447 0.6756516695022583 0.296529484029484 0.2891584766584766
0.6757521629333496 0.6751375794410706 0.30072686322686326 0.28731572481572487
0.6755664348602295 0.6750130653381348 0.29463554463554464 0.29745085995085996
0.6751871705055237 0.67472904920578 0.29105241605241605 0.2820945945945946
0.6748065948486328 0.6741600036621094 0.28808353808353804 0.2863943488943489
0.67436683177948 0.6737274527549744 0.2889025389025389 0.2802518427518428
0.6739729642868042 0.6731453537940979 0.2870597870597871 0.2727272727272727
0.6735439896583557 0.6735621690750122 0.2800470925470926 0.28117321867321865
0.6730955839157104 0.6722261905670166 0.2772317772317773 0.273955773955774
0.6727615594863892 0.6719948053359985 0.2765663390663391 0.27088452088452086
0.6726389527320862 0.6720540523529053 0.27451883701883706 0.2728808353808354
0.6721264123916626 0.6717613935470581 0.2696560196560197 0.269502457002457
0.6717588901519775 0.671032726764679 0.27426289926289926 0.265970515970516
0.671633780002594 0.6711931228637695 0.27180589680589684 0.2698095823095823
0.671118438243866 0.670600414276123 0.26837633087633084 0.269041769041769
0.6706182360649109 0.6704584360122681 0.2658169533169533 0.26182432432432434
0.6702253222465515 0.6700344681739807 0.26540745290745293 0.2599815724815725
0.6698625683784485 0.66912442445755 0.2637694512694513 0.26197788697788693
0.6695837378501892 0.6691135764122009 0.26504914004914004 0.25844594594594594
0.669134795665741 0.6686829328536987 0.2632063882063882 0.25552825552825553
0.6685048341751099 0.6684680581092834 0.2602375102375102 0.25844594594594594
0.66827791929245 0.6678414940834045 0.2561425061425061 0.2541461916461917
0.668219804763794 0.6676740050315857 0.2605958230958231 0.2572174447174447
0.6677031517028809 0.6676642298698425 0.25563063063063063 0.25506756756756754
0.6675072312355042 0.6672726273536682 0.255579443079443 0.2532248157248157
0.6669813394546509 0.6664990186691284 0.2539414414414415 0.2498464373464373
0.6665524244308472 0.6656990051269531 0.25476044226044225 0.24815724815724816
0.6662976145744324 0.6658695340156555 0.2533783783783784 0.25168918918918914
0.6661396622657776 0.6658010482788086 0.25209868959868964 0.24815724815724816
0.6656526923179626 0.6649411916732788 0.25194512694512694 0.24907862407862413
0.6657590270042419 0.6654235124588013 0.2523546273546273 0.2503071253071253
0.6649208068847656 0.6646251678466797 0.25194512694512694 0.24785012285012287
0.6648448705673218 0.6641049981117249 0.2496416871416871 0.2467751842751843
0.6645441651344299 0.663328230381012 0.25081900081900077 0.2469287469287469
0.6639076471328735 0.663790762424469 0.249539312039312 0.2470823095823096
0.6634820699691772 0.6631200313568115 0.24866912366912364 0.24493243243243246
0.6635861396789551 0.6631236672401428 0.24907862407862413 0.24493243243243246
0.6629289984703064 0.6626245975494385 0.2462633087633087 0.24554668304668303
0.6627647876739502 0.6623960137367249 0.24805487305487306 0.2435503685503686
0.662424623966217 0.6622219681739807 0.24779893529893526 0.24570024570024573
0.6617639064788818 0.6612957715988159 0.24738943488943488 0.246468058968059
0.6620314717292786 0.6604652404785156 0.2469287469287469 0.24201474201474205
0.6615408658981323 0.6613196730613708 0.24713349713349708 0.24278255528255532
0.6611841917037964 0.6604384183883667 0.24590499590499593 0.24278255528255532
0.660785973072052 0.660064160823822 0.24539312039312045 0.24401105651105648
0.6601762175559998 0.6597520709037781 0.24544430794430794 0.2430896805896806